doctype html
html
  head
    title
    link(rel="stylesheet", type="text/css", href="main.css")
  body
    != yield

    script(type="application/javascript", src="//code.jquery.com/jquery-2.2.0.min.js")
    script(type="application/javascript", src="main.js")
