h1 Tic-Tac-Toe

.game_board
  .row
    .tile(data-tile-number='0')
    .tile(data-tile-number='1')
    .tile(data-tile-number='2')
  .row
    .tile(data-tile-number='3')
    .tile(data-tile-number='4')
    .tile(data-tile-number='5')
  .row
    .tile(data-tile-number='6')
    .tile(data-tile-number='7')
    .tile(data-tile-number='8')
