h1
  text-align: center

.game_board
  width: 294px
  margin: 0 auto
  background-color: black
  box-shadow: inset 0 0 0 1px white

.tile
  user-select: none
  font-size: 64px
  display: inline-flex
  align-items: center
  justify-content: center
  vertical-align: bottom
  width: 96px
  height: 96px
  margin: 1px
  background-color: white

  &:hover
    background-color: pink
